Django==5.2.3
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-environ==0.14.0
django-extensions==4.1
django-ratelimit==4.1.0
django-anymail==15.0
dj-database-url
psycopg2-binary==2.9.11
gunicorn==26.0.0
python-dotenv==1.2.2
groq==1.5.0
kaggle==2.2.3
kagglesdk==0.1.33
APScheduler==3.11.2
pandas==3.0.3
numpy==2.4.4
requests==2.34.0
PyJWT==2.12.1
cryptography==47.0.0
pillow==11.0.0
python-slugify==8.0.4
qrcode==8.0
pytz==2025.2
sqlparse==0.5.3