@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-logo: "Archivo", sans-serif;
  --color-primary: #aec3b0;
  --color-secondary: #eff6e0;
  --color-accent: #64b6ac;
  --color-accent-hover: #4a8c88;
  --color-border: #d6e2e9;
  --color-navbar: #496a81;
  --color-navtext: #ffffff;
  --color-logo: #22577a;
  --color-logo-hover: #0e4467;
  --color-content: #9ca3af;
  --color-gray: #e5e7eb;
  --color-red: #D22B2B;
}